body {
  margin: 0;
  font-size: 16px;
}

h1 {
 font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

hr {
  margin-bottom: 35px;
  margin-left: 32vw;
  margin-right: 32vw;
  border-width: 1px;
  border-color: #000000
}

.text-center {
  z-index: 1;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000; 
  font-size: 37px;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;

}

.top-bar {
  zIndex: 1;
  padding: 10px 15px 0px;
  position: relative;
}
.top-bar::after {

  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
  font-family: 'Rammetto One', cursive;

}

.top-bar-right {
  float: right;
  font-family: 'Rammetto One', cursive;
  margin-top: 14px;

}


.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 700px;
  position: relative;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

